{% extends 'base.html.twig' %}

{% block title %}Nos Catégories{% endblock %}

{% block body %}

        <h2>Nos catégories</h2>
        <p>Trouvez votre véhicule en fonction de sa catégorie</p>

        <div class="grille">
            {% for categorie in categories %}
                <div class="case">
                    <h3><a href="{{ path('categorie_show', {'categorieId' : categorie.id }) }}">{{ categorie.type }}</a></h3>
                </div>
            {% endfor %}
        </div>



{% endblock %}
